.navbar{
    height: 100px;
    background-color: #5a885083;
    button{
        margin-top: 20px;
        margin-left: 20px;
        height: 50px;
        width: 100px;
        background-color: #000;
        color: #fff;
        border-radius: 10px;
        cursor: pointer;
    }
}